// COLORS
$color-primary: #202221;
$color-primary-light: #3e3f3e;
// $color-primary-dark: #28b485;

$color-secondary-light: #f9ffff;
$color-secondary-dark: #e7f5f4;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

// $color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #000;

// FONT
$default-font-size: 1.6rem;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;
