.header {
  padding: 3.5rem;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;

  @include respond(phone) {
    flex-direction: column-reverse;
    align-items: center;
  }

  &__text {
    text-transform: uppercase;
    font-family: "Lato", sans-serif;
    color: $color-white;
    line-height: 3.5rem;
    font-size: 1.5rem;
  }

  &__img {
    margin-right: 5rem;
    width: 40rem;
    height: auto;
  }
}

.container {
  display: flex;
  // align-items: flex-start;
  justify-content: space-between;
  color: aliceblue;
}
